<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
  </head>
  <body>
    <div class="field">
      <h1>{{room_name}}</h1>
      <label>Please enter your user name</label>
      <input type="text" id="user-name"  placeholder="Enter username...">
    </div>
    <button type="button" name="button" id="room-name-submit">Submit</button>

    <script type="text/javascript">

        var roomName = '{{room_name}}'

        document.querySelector('#room-name-submit').onclick = function(e){

          var user = document.querySelector('#user-name').value;

          window.location.replace(location.host + roomName);
        };
    </script>
  </body>
</html>
